<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-hover table-outline table-vcenter card-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>User</th>
                    <th>Room</th>
                    <th>Title</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <% @schedules.each do |schedule| %>
                    <tr>
                        <td><%= schedule.id %></td>
                        <td><%= schedule.user.name %></td>
                        <td><%= schedule.room_id %></td>
                        <td><%= schedule.title %></td>
                        <td>
                            <%= button_to admin_delete_schedule_path(schedule.id), method: :delete, class: "btn btn-sm btn-danger" do %>
                                <i class="fa fa-trash"></i>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
            <% if !@schedules.empty?%>
                <div class="float-md-right mt-4">
                    <%== pagy_bootstrap_nav(@pagy) %>
                </div>
            <% end %>
        </div>
    </div>
</div>