<!DOCTYPE html>
<html>
<head>
    <% if Rails.configuration.google_analytics %>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="<%= google_analytics_url %>"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', "<%= ENV["GOOGLE_ANALYTICS_TRACKING_ID"] %>");
        </script>
    <% end %>

    <title><%= yield(:page_title).present? ? yield(:page_title) : "VDO" %></title>
    <meta property="og:title" content="<%= yield(:page_title).present? ? yield(:page_title) : "VDO" %>"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="<%= yield(:page_desc).present? ? yield(:page_desc) : t("landing.about", href: "Greenlight", locale: :en) %>"/>
    <meta property="og:url" content="<%= request.base_url %>"/>
    <meta property="og:image" content="<%= logo_image %>"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= csrf_meta_tags %>

    <!-- Global javascript variables and helpers. -->
    <script type="text/javascript">
        window.GreenLight = {};
        window.GreenLight.WEBSOCKET_HOST = "<%= ENV['WEBSOCKET_HOST'] %>"
        window.GreenLight.RELATIVE_ROOT = "<%= relative_root %>"
    </script>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <link rel="stylesheet" href="/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="/ccpicker/css/jquery.ccpicker.css">
    <link rel="stylesheet" href="/tavo-calendar/tavo-calendar.css">
    <link rel="stylesheet" href="/fullcalendar/main.min.css">
    <link rel="stylesheet" href="/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="/timepicker/timepicker.css">
    <link rel="stylesheet" href="/vue-select/vue-select.css">
    <link rel="stylesheet" href="/css/letsmeet.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script type="text/javascript">
        // Include the correct translated strings for Javascript
        window.I18n = <%= current_translations.to_json.html_safe %>
            window.I18nFallback =
        <%= fallback_translations.to_json.html_safe %>
    </script>
</head>

<body id="page-top" data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>" data-relative-root="<%= Rails.configuration.relative_url_root || "/" %>">
<div id="wrapper">
    <%= render "shared/sidebar" %>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <%= render "shared/topnav" %>

            <%= render 'shared/flash_messages' unless flash.empty? %>

            <%= yield %>
        </div>

        <!--        <footer class="sticky-footer bg-white">-->
        <!--            <div class="container my-auto">-->
        <!--                <div class="copyright text-center my-auto">-->
        <!--                    <span>Copyright &copy; LetsMeet 2020</span>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </footer>-->
    </div>
</div>

<a class="scroll-to-top" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <%= button_to logout_path, class: "btn btn-primary" do %>
                    <%= t("header.dropdown.signout") %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<%= yield :modals %>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/jquery-ui/jquery-ui.min.js"></script>
<script src="/momentjs/moment.js"></script>
<script src="/momentjs/moment-timezone-with-data.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/ccpicker/js/jquery.ccpicker.js"></script>
<!--<script src="/fullcalendar/rrule.min.js"></script>-->
<script src="/fullcalendar/main.min.js"></script>
<!--<script src="/fullcalendar/main.global.min.js"></script>-->
<script src="/tavo-calendar/tavo-calendar.js"></script>
<!-- Custom scripts -->
<script src="/js/letsmeet.min.js"></script>
<script src="/daterangepicker/daterangepicker.js"></script>
<script src="/timepicker/timepicker.js"></script>
<script src="/js/vue.js"></script>
<script src="/vue-select/vue-select.js"></script>
<script src="/js/axios.js"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<%= yield :scripts %>
<script src="/js/action_cable.js"></script>
<script>
    new Vue({
        el: '#notifications',
        data: {
            notifications: [],
            new_notifications_count: 0
        },
        mounted() {
            if (!("Notification" in window)) {
                alert("This browser does not support desktop notification");
            } else if (Notification.permission == "granted") {
                console.log("notification granted")
                this.createChannel();
            } else if (Notification.permission !== "denied") {
                Notification.requestPermission()
                    .then(function (permission) {
                        if (permission == "granted") {
                            console.log("notification granted")
                            this.createChannel();
                        }
                    })
            }

            axios.get('/notifications/recent')
                .then(res => res.data)
                .then(data => {
                    this.notifications = data
                })
                .catch(error => console.error(error))
        },
        methods: {
            createChannel() {
                var consumer = ActionCable.createConsumer();
                ActionCable.logger.enabled = true

                consumer.subscriptions.create("WebNotificationsChannel", {
                    received: this.onReceived
                })
            },
            onReceived(data) {
                console.log("Web Notification: ", data);
                var notification = new Notification(data["title"])
                notification.onclick = () => {
                    window.open(data.onclick_url);
                }
            }
        }
    })
</script>
</body>
</html>
